.separator {
	background-image: linear-gradient(
		to right top,
		#4f4fbd,
		#0078dc,
		#009bed,
		#00bcf2,
		#19daf1,
		#13def6,
		#0be2fa,
		#00e6ff,
		#00d0ff,
		#00b6ff,
		#0097ff,
		#7070ff
	);
	height: 6px;
	width: 40%;
	border-radius: 3px;
	margin: 16px 0px;
}
